<%- include('header.ejs') %>
<div class="card" style="margin-top: 5%;">
    <div class="card-body">
        <h2 class="card-title"><%=application_details.student_name%></h2>
        <div class="row">
            <div class="col-sm-8">
                <label><strong>Father's Name:</strong></label>&nbsp;<%=application_details.father_name%>
            </div>
            <div class="col-sm-8">
                <label><strong>Mother's Name:</strong></label>&nbsp;<%=application_details.mother_name%>
            </div>
            <div class="col-sm-8">
                <label><strong>Email:</strong></label>&nbsp;<%=application_details.email%>
            </div>
            <div class="col-sm-8">
                <label><strong>Phone Number:</strong></label>&nbsp;<%=application_details.phone_number%>
            </div>
            <div class="col-sm-8">
                <label><strong>Gender:</strong></label>&nbsp;<%=application_details.gender%>
            </div>
            <div class="col-sm-8">
                <label><strong>Highest Degree:</strong></label>&nbsp;
                <% if(application_details.highest_degree == 'matric') { %>
                    Sen. Sec.
                <% } else if(application_details.highest_degree == 'graduation') { %>
                    Bachelor Degree
                <% } else { %>
                    Diploma
                <% }%>
            </div>
        </div>
        <a href="/courses/view/<%=course_details._id%>" target="_blank" class="btn btn-primary">Check Course Details</a>
        <br>
    </div>
</div>
<%- include('footer.ejs') %>