<%- include('header.ejs') %>
<style>
    body {
        background-color: #0d242e;
    }
    .card-title {
            font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
    }
    .heading {
        font-family: Elena,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
    }
</style>
<div class="card" style="margin-top: 5%; background-color: #374b54; color:white;">
    <div class="card-body">
        <h2 class="card-title"><%=course_details.course_name%> - <%=course_details.course_code%></h2>
        <div class="row">
            <span class="col-sm-8">
                <label><strong>Course Duration:</strong></label>&nbsp;<%=course_details.course_duration%> years
                <br>
                <label><strong>Co-op Available:</strong></label>&nbsp;
                <% if(course_details.is_co_op_available) { %>
                    Yes
                <% } else { %>
                    No
                <% }%>
            </span>
            <span class="col-sm-4 pull-right">
                <label><strong>Course Fees:</strong></label>&nbsp;$<%=course_details.course_fees%> (CAD)
            </span>
        </div>
        <p class="card-text" style="white-space: pre-wrap;"><%=course_details.course_description%></p>
        <br>
        <h2 class="heading">Admission Requirements</h2>
        <p style="white-space: pre-wrap;"><%=course_details.admission_requirements%></p>
    </div>
</div>
<%- include('footer.ejs') %>